.prose ul,
.prose ol {
  padding-left: 1.25rem;
  margin: 1rem 0;
}

.prose ul {
  list-style-type: disc;
}


.prose ol {
  list-style-type: decimal;
}

.prose li {
  margin: .25rem 0;
}

.prose a {
  color: #3b82f6;
  text-decoration: underline;
}